/* Cascading Stylesheets template for general documents */

BODY {
	color: #666666;
	background-color: #87CEEB;
	font-family: serif;
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: 5%;
	margin-right: 0%;
        line-height: 80%;
}



:link { 
	color: #006600; 
	text-decoration: none; 
}

:active {
	color: #ff0000;
}

a:hover {
	color: #44dd44;
}

:visited {
	color: #006600;
	text-decoration: none; 
}

.title {
	color: #336600;
	font-family: sans-serif;
	text-align: left;
	border-style: solid;
	border-color: #CCCC99;
	border-top-width: 8px;
	border-right-width: 2px;
	margin-top: 30px;
}

.inv {
	color: #FFFFFF;
	background-color: #CCCC99;
	padding-top: 0px; 
}

.header {
	font-family: sans-serif;
	text-align: left;
	padding-top: 0px;
	boder-style: solid;
	border-color: #CCCC99;
	border-left-width: 5px;
	border-bottom-width: 1px;
}

.subheader {
	font-family: sans-serif;
	text-align: left;
	padding-top: 20px;
}

HR {
	color: #336600;
	border-top: solid;
}
