<?xml version="1.0" encoding="utf-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
  <ShortName>CLUSTER2014</ShortName>
  <Description>IEEE 2014 | CLUSTER 2014 | Madrid 22-26 Septiembre 2014 </Description>
  <InputEncoding>UTF-8</InputEncoding>
  <Image type="image/vnd.microsoft.icon" width="16" height="16">https://clustercomp.org/2014/templates/yoo_venture/favicon.ico</Image>
  <Url type="application/opensearchdescription+xml" rel="self" template="https://clustercomp.org/2014/index.php/component/search/?Itemid=314&amp;format=opensearch"/>
  <Url type="text/html" template="https://clustercomp.org/2014/index.php?option=com_search&amp;searchword={searchTerms}"/>
</OpenSearchDescription>
