<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}::Cluster 2022</title>

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles_feeling_responsive.css">

  <script src="{{ site.baseurl }}/assets/js/modernizr.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Lato:400,700,400italic:latin', 'Volkhov::latin']
      }
    });
  </script>

  <noscript>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic%7CVolkhov' rel='stylesheet'
      type='text/css'>
  </noscript>

  <!-- Search Engine Optimization -->
  <meta name="description" content="Website for IEEE Cluster 2022.The latest news is also shown in Twitter/ieeecluster">
  <meta name="google-site-verification" content="">
  <meta name="msvalidate.01" content="">

  <link rel="author" href="">

  <link rel="canonical" href="https://clustercomp.org/2022/">

  <!-- Facebook Open Graph -->
  <meta property="og:title" content="Welcome!">
  <meta property="og:description"
    content="Website for IEEE Cluster 2022. The latest news is also shown in Twitter/ieeecluster">
  <meta property="og:url" content="https://clustercomp.org/2022/">
  <meta property="og:locale" content="">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="IEEE Cluster 2022">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="ieeecluster">
  <meta name="twitter:creator" content="ieeecluster">
  <meta name="twitter:title" content="Welcome!">
  <meta name="twitter:description"
    content="Website for IEEE Cluster 2022.The latest news is also shown in Twitter/ieeecluster">

  <link type="text/plain" rel="author" href="https://clustercomp.org/2022/humans.txt">

  <link rel="icon" sizes="32x32" href="{{ site.baseurl }}/assets/img/favicon.ico">

  {% feed_meta %}
</head>

<body id="top-of-page" class="post">

  <div id="navigation" class="sticky">
    <nav class="top-bar" role="navigation" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1 class="show-for-small-only"><a href="https://clustercomp.org/2022" class="icon-tree"> IEEE Cluster
              2022</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Nav</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
        </ul>
        <ul class="left">
          <li{% if page.url== '/'%} class="active"{% endif %}><a href="{% link index.md %}">Home</a></li>
          <li class="divider"></li>
          <li class="has-dropdown {% if page.url == '/papers/' or page.url == '/posters/' or page.url == '/workshops/'
            or page.url == '/tutorials/' %} active{% endif %}">
            <a>Submit</a>
            <ul class="dropdown">
              <li><a href="{% link papers/index.md %}">Papers</a></li>
              <li><a href="{% link posters/index.md %}">Posters</a></li>
              <li><a href="{% link workshops/index.md %}">Workshops</a></li>
              <li><a href="{% link authors/index.md %}">Authors</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown {% if page.url == '/keynotes/' or page.url == '/program/' %} active{% endif %}">
            <a>Program</a>
            <ul class="dropdown">
              <li><a href="{% link keynotes/index.md %}">Keynotes</a></li>
              <li><a href="{% link program/index.md %}">Schedule</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li{% if page.url == '/sponsors/'%} class="active"{% endif %}><a href="{% link sponsors/index.md %}">Sponsors</a></li>
          <li class="divider"></li>
          <li{% if page.url == '/workshops_tutorials/'%} class="active"{% endif %}><a href="{% link workshops_tutorials/index.md %}">Workshops & Tutorials</a></li>
          <li class="divider"></li>
          <li{% if page.url == '/mentoring/'%} class="active"{% endif %}><a href="{% link mentoring/index.md %}">Mentoring</a></li>
          <li class="divider"></li>
          <li{% if page.url == '/registration/'%} class="active"{% endif %}><a href="{% link registration/index.md %}">Registration</a></li>
          <li class="divider"></li>
          <li{% if page.url == '/committees/'%} class="active"{% endif %}><a href="{% link committees/index.md %}">Committees</a></li>
          <li class="divider"></li>
          <li{% if page.url == '/venue/'%} class="active"{% endif %}><a href="{% link venue/index.md %}">Venue</a></li>
          <li class="divider"></li>
          <li{% if page.url == '/news/'%} class="active"{% endif %}><a href="{% link news/index.md %}">News</a></li>
          <li class="divider"></li>
          <li><a>
              <p style="width:900px"></p>
            </a></li>
        </ul>
      </section>
    </nav>
  </div><!-- /#navigation -->

  <div id="masthead">
    <div class="row">
		<div class="small-12 columns">
      <a id="heidelberg" href="https://clustercomp.org/2022/" title="IEEE Cluster 2022">
      </a>
      <script src="{{ site.baseurl }}/assets/js/javascript.min.js"></script>
      <!--<script>
        $(this).backstretch("{% link assets/img/Heidelberg_corr.jpg %}", { fade: 700 });
      </script>-->
		</div>
    </div>
        <img src="{{ site.baseurl }}/assets/img/Heidelberg_corr.jpg" alt="IEEE Cluster 2022"
          style="width: 100%; height: 100%;object-fit: cover">
  <p style="font-size:small;"> Photo by Miholz under
    <a href=http://creativecommons.org/licenses/by-sa/3.0 />CC BY-SA3.0</a></p>
  </div><!-- /#masthead -->
  <div class="row t30">
    <div class="medium-8 columns medium-offset-2 end">
      <article itemscope itemtype="http://schema.org/Article">
        <div itemprop="name">
          <p><img src="{{ site.baseurl }}/assets/img/IEEE-Cluster-2022-date-location.png" alt="IEEE Cluster 2022"></p>
          {% if page.title == 'Welcome!' %}
            <h1>{{ page.title }}</h1>
          {% elsif page.title == 'Call for Sponsors' %}
            <h1></h1>
          {% else %}
            <h1>{{ page.title }}
              <span style="font-size: 20pt;">&#x25CF;</span> Cluster 2022
            </h1>
          {% endif %}
        </div>
        </header>
        <div itemprop="articleSection" markdown="1">
        {{ content }}
        </div>
      </article>
    </div><!-- /.medium-8.columns -->
    </div><!-- /.row -->
    <div id="up-to-top" class="row">
    <div class="small-12 columns" style="text-align: right;">
      <a class="iconfont" href="#top-of-page">&#xf108;</a>
    </div><!-- /.small-12.columns -->
  </div><!-- /.row -->

  <footer id="footer-content" class="bg-grau">
    <div id="footer">
      <div class="row">
        <div class="medium-6 large-5 columns">
          <h5 class="shadow-black">About This Site</h5>

          <p class="shadow-black">
            Website for IEEE Cluster 2022.<br />The latest news is also shown in <a
              href="http://twitter.com/ieeecluster">Twitter/ieeecluster</a><br />
            <a href="{{ site.baseurl }}/news/">More ›</a>
          </p>
        </div><!-- /.large-6.columns -->
        <div class="small-6 medium-3 large-3 large-offset-1 columns">
          <h5 class="shadow-black">Services</h5>
          <ul class="no-bullet shadow-black">
            <li>
              <a href="https://clustercomp.org/2021" title=""></a>
            </li>
            <li>
              <a href="{% link contact/index.md %}" title="Contact">Contact</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/feed.xml" title="Subscribe to Atom Feed">Atom</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/sitemap.xml"
                title="Sitemap for Google Webmaster Tools">sitemap.xml</a>
            </li>
          </ul>
        </div><!-- /.large-4.columns -->

        <div class="small-6 medium-3 large-3 columns">
          <h5 class="shadow-black">Related Links</h5>
          <ul class="no-bullet shadow-black">
            <li class="ieee-home">
              <a href="http://www.ieee.org/" target="_blank" title="IEEE Home">IEEE Home</a>
            </li>
            <li class="ieee-2021">
              <a href="https://clustercomp.org/2021/" target="_blank" title="IEEE Cluster 2021">IEEE Cluster 2021</a>
            </li>
            <li class="ieee-committeee">
              <a href="https://clustercomp.org/committee/committees" target="_blank"
                title="IEEE Cluster Streering Committtee">IEEE Cluster Steering Committee</a>
            </li>
            <li class="ieee-series">
              <a href="https://clustercomp.org/" target="_blank" title="IEEE Cluster Conference Series">IEEE Cluster
                Conference Series</a>
            </li>
            <li class="ieee-society">
              <a href="http://www.computer.org/" target="_blank" title="IEEE Computer Society">IEEE Computer Society</a>
            </li>
            <li class="ieee-policy">
              <a href="{% link policy.md %}" target="_blank" title="IEEE Policy Statements">IEEE
                Policy Statements</a>
            </li>
          </ul>
        </div><!-- /.large-3.columns -->
      </div><!-- /.row -->
    </div><!-- /#footer -->

    <div id="subfooter" style="padding:20px 0px 0px 20px">
      <nav class="row">
        <section id="subfooter-left" class="small-12 medium-6 columns credits">
          <p>Created with &hearts; by <a href="http://phlow.de/">Phlow</a> with <a href="http://jekyllrb.com/"
              target="_blank">Jekyll</a> based on <a href="http://phlow.github.io/feeling-responsive/">Feeling
              Responsive</a>.</p>
        </section>
        <section id="subfooter-right" class="small-12 columns" style="width:40%;">
          <ul class="inline-list social-icons">
            <li>
              <a href="http://twitter.com/ieeecluster" target="_blank" class="icon-twitter"
                title="twitter.com/ieeecluster"></a>
            </li>
            <li>
              <a href="https://www.facebook.com/ieeeclusterconference" target="_blank" class="icon-facebook"
                title="facebook.com/ieeeclusterconference"></a>
            </li>
          </ul>
        </section>
      </nav>
    </div><!-- /#subfooter -->
  </footer>
  <!--<script>
    $("#masthead").backstretch("{% link assets/img/Heidelberg_corr.jpg %}", { fade: 700 });
  </script>-->
</body>

</html>

