#menu a, #menu a:visited {
  text-decoration:none;
  text-align:center;
  background-color:#aaa; 
  color:#fff;
  display:block; 
  width:8em; 
  padding:0.2em;
  margin:0.5em auto;
  border-right:5px solid #fff;
  }
#menu a:hover {
  border-right:5px solid #000;
  }
 
  
.text {
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 12px;
}

textarea,input,td,ul,li,ol,select {
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	font-size: 12px;
}

td:hover.highlightLeftMenu, tr:hover.highlightLeftMenu {
	background-color: #D2D2C5;
}

#tab a {
	border:1px solid #000000;
	background-color: #D2D2C5;
	text-decoration:none;
	text-align:center;
	 
	height:0.0em;
	font-size: 14px;
	padding:1px;
	
	
}

#tab a:hover {
	background-color: #FEF9E6;
	border:1px solid #000000;
}


.backgroundSelect {
	background-color: #FDD5F5;
}

.frontgroudSelect {
	color: #AE098D;
}

.greyBackground {
	background-color: #ECECEC;
}

.forestBackground,.leftMenu,.highlightLeftMenu {
	background-color: #AD934E;
}

.blueBackground,.brandBackground {
	background-color: #EAECFD;	
}

.aquaBackground,.itemBackground,.highlightItemBackground {
	background-color: #E6F2F2;	
}

.orangeBackground,.highlightOrangeBackground {
	background-color: #FFEEDD;
}



.normal {
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;	
}

.smallSelectBox {
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	font-size: 10px;
	font-weight: normal;	
}

.smallMenuTitle {
	font-size: 15px;
	font-weight: bold;	
}

.largeTitle {
	font-size: 30px;
	font-weight: bold;	
}

.greyOut {
	color: #B6B8CB;
}